<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1">

<title>Insert title here</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Editar empleado</h4>

				<form th:action="@{/ingreso/actualizar}" th:method="post"
					th:object="${ingreso}">
					
					
					<input type="hidden" th:field="*{iding}"> 
					<div class="form-row">

						<div class="col-md-6">
							<div class="form-group">
							<label>TRABAJADOR:</label>
								<select th:field="*{trabajador.idtra}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="trabajador : ${listaTrabajador}"
										th:value="${trabajador.idtra}"
										th:text="${trabajador.nombre}" />
								</select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label>PROVEEDOR:</label>
								<select th:field="*{proveedor.idprov}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="proveedor : ${listaProveedor}"
										th:value="${proveedor.idprov}"
										th:text="${proveedor.razons}" />
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<input type="text" th:field="*{fecha}"
									class="validate[required] form-control date-picker hidden-sm-down"
									placeholder="Fecha de Ingreso" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>	
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">COMPROBANTE:</label>
								<input type="text" th:field="*{tipocom}" class="form-control"
									placeholder="Tipo de Comprobante" maxlength="20"> <i
									class="form-group__bar"></i>
							</div>
						</div>	
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">SERIE:</label>
								<input type="text" th:field="*{serie}" class="form-control"
									placeholder="Serie" maxlength="4"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">CORRELATIVO:</label>
								<input type="text" th:field="*{correlativo}" class="form-control"
									placeholder="Tipo de Comprobante" maxlength="7"> <i
									class="form-group__bar"></i>
							</div>
						</div>
					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Actualizar</button>
								<a href="/ingreso" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>
					
				</form>

			</div>

		</div>
	</section>

</body>
</html>