<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="UTF-8">

<title>Listado de Ingresos</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Ingresos</h4>



				<div class="form-row">

					<div class="col-m-6">

						<div class="form-group">

							<a href="/ingreso/nuevo" class="btn btn-primary">Nuevo
								Ingreso</a>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Ingresos</h4>

				<div class="table-responsive">
					<table id="idTableIngreso" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Trabajador</th>
								<th>Proveedor</th>
								<th>Fecha</th>
								<th>Comprobante</th>
								<th>Serie</th>
								<th>Correlativo</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="ingreso : ${listarIngreso}">
								<tr>
									<td th:text="${ingreso.iding}"></td>
									<td th:text="${trabajador.nombre}"></td>
									<td th:text="${proveedor.razons}"></td>
									<td th:text="${ingreso.fecha}"></td>
									<td th:text="${ingreso.tipocom}"></td>
									<td th:text="${ingreso.serie}"></td>
									<td th:text="${ingreso.correlativo}"></td>						
									<td><a class="btn btn-primary"
										th:href="@{/ingreso/editar/{id}(id=${ingreso.iding})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw"></i>

									</a> <a class="btn btn-danger" href="#"
										th:onclick="'eliminarIngreso(' + ${ingreso.iding} +')'"> <i
											class="zmdi zmdi-delete zmdi-hc-fw"></i>

									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>

					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>


	<script type="text/javascript">
		$(document).ready(function() {
			$("#idTableIngreso").DataTable();
		});
		
		
		function eliminarIngreso(id){
			swal({

                title: 'Are you sure?',

                text: 'You will not be able to recover this imaginary file!',

                type: 'warning',

                showCancelButton: true,

                buttonsStyling: false,

                confirmButtonClass: 'btn btn-danger',

                confirmButtonText: 'Yes, delete it!',

                cancelButtonClass: 'btn btn-secondary'

            }).then(function(result){
				
				if(result.value){
					
					$.ajax({
						url: "/ingreso/eliminar/" + id,
						type: "GET",
						success: function(){

                			swal("Ok", "Se ha eliminado", "success").then(function(){

                				window.location = "/ingreso";

                            });

                		}
					})
				}
				
				
			});
		}
		
		
	</script>

</body>
</html>