<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="ISO-8859-1">

<title>Nuevo Ingreso</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Nuevo Ingreso</h4>


				<form th:action="@{/ingreso/crear}" th:method="post"
					th:object="${ingreso}">
					<div class="form-row">

						<div class="col-md-6">
							<div class="form-group">
							<label>TRABAJADOR:</label>
								<select th:field="*{trabajador.idtra}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="trabajador : ${listaTrabajador}"
										th:value="${trabajador.idtra}"
										th:text="${trabajador.nombre}" />
								</select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label>PROVEEDOR:</label>
								<select th:field="*{proveedor.idprov}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="proveedor : ${listaProveedor}"
										th:value="${proveedor.idprov}"
										th:text="${proveedor.razons}" />
								</select>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
							<label>FECHA DE INGRESO:</label>
								<input type="text" th:field="*{fecha}"
									class="validate[required] form-control date-picker hidden-sm-down"
									placeholder="Fecha de Ingreso" maxlength="50"> <i
									class="form-group__bar"></i>
							</div>
						</div>	
						
						<div class="col-md-6">
							<div class="form-group">
							<label>PRODUCTO:</label>
								<select th:field="*{producto.idproducto}" class="form-control">
									<option value="-1">Seleccione</option>
									<option th:each="producto : ${listaProducto}"
										th:value="${producto.idproducto}"
										th:text="${producto.descripcion}" />
								</select>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">PRECIO:</label>
								<input type="text" th:field="*{precio}" class="form-control"
									placeholder="Precio" maxlength="10"> <i
									class="form-group__bar"></i>
							</div>
						</div>
						
						<div class="col-md-6">
							<div class="form-group">
							<label for="inputStock">Cantidad:</label>
								<input type="text" th:field="*{cantidad}" class="form-control"
									placeholder="Cantidad" maxlength="10"> <i
									class="form-group__bar"></i>
							</div>
						</div>	

					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/ingreso" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>
			</div>

		</div>
	</section>

</body>
</html>