<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="ISO-8859-1">

	<title>Registro de Venta</title>
	<th:block th:insert="fragments/resources"></th:block>

</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">

			<div class="card-body">

				<h4 class="card-title">Registra venta</h4>


				<form th:action="@{/venta/crear}" th:method="post" th:object="${venta}">
					<div class="form-row">

						<div class="col-md-6">

							<div class="form-group">

								<label for="inputCliente">Cliente :</label>
								<select th:field="*{cliente.idcli}" class="form-control">

									<option value="-1">Seleccione</option>

									<option th:each="cliente : ${listaCliente}" th:value="${cliente.idcli}"
										th:text="${cliente.nombre}" />

								</select>

							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">

								<label for="inputTrabajador">Trabajador :</label>
								<select th:field="*{trabajador.idtra}" class="form-control">

									<option value="-1">Seleccione</option>

									<option th:each="trabajador: ${listaTrabajador}" th:value="${trabajador.idtra}"
										th:text="${trabajador.nombre}" />

								</select>

							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">
								<label for="inputFecha">Fecha Venta:</label>

								<input type="text" th:field="*{fecha}"
									class="validate[required] form-control date-picker hidden-sm-down"
									placeholder="Fecha de Venta" maxlength="50"> <i class="form-group__bar"></i>

							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">

								<input type="text" th:field="*{tipocom}" class="form-control"
									placeholder="Ingrese tipo Comprobante" maxlength="50"> <i
									class="form-group__bar"></i>

							</div>

						</div>

						<div class="col-md-6">

							<div class="form-group">

								<label for="inputProducto">Producto :</label>
								<select th:field="*{producto.idpro}" class="form-control">

									<option value="-1">Seleccione</option>

									<option th:each="producto: ${listaProducto}" th:value="${producto.idpro}"
										th:text="${producto.descripcion}" />

								</select>


							</div>

						</div>
					
					<div class="col-md-6">

						<div class="form-group">
							<label for="inputCantidad">Cantidad :</label>
							<input type="text" th:field="*{cantidad}" class="form-control"
								placeholder="Ingrese cantidad" maxlength="50"> <i class="form-group__bar"></i>

						</div>

					</div>
					<div class="col-md-6">

						<div class="form-group">
							<label for="inputPrecior">Precio Venta :</label>
							<input type="text" th:field="*{preciov}" class="form-control" placeholder="0.0"
								maxlength="50"> <i class="form-group__bar"></i>

						</div>

					</div>
					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Registrar</button>
								<a href="/venta" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>
			</div>

		</div>
	</section>

</body>

</html>