<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Clientes</title>
<th:block th:insert="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>	
	<section class="content">
	
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Clientes</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/cliente/nuevo" class="btn btn-primary">Registra Cliente</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Clientes</h4>
				<div class="table-responsive">
					<table id="idTableCliente" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>Nombre</th>
								<th>Apellido</th>
								<th>DNI</th>
								<th>Direccion</th>
								<th>Telefono</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="cliente : ${listaCliente}">
								<tr>
									<td th:text="${cliente.idcli}"></td>
									<td th:text="${cliente.nombre}"></td>
									<td th:text="${cliente.apellido}"></td>
									<td th:text="${cliente.dni}"></td>
									<td th:text="${cliente.direccion}"></td>
									<td th:text="${cliente.telefono}"></td>
									<td><a class="btn btn-primary"
										th:href="@{/cliente/editar/{id}(id=${cliente.idcli})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw"></i>

									</a> <a class="btn btn-danger" href="#"
										th:onclick="'eliminarCliente(' + ${cliente.idcli} +')'"> <i
											class="zmdi zmdi-delete zmdi-hc-fw"></i>

									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#idTableCliente").DataTable();
		});
		
		function eliminarCliente(id){
			swal({
                title: '¿Estas seguro?',
                text: 'No podrás recuperar este archivo imaginario!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Eliminar',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar',
            }).then(function(result){				
				if(result.value){					
					$.ajax({
						url: "/cliente/eliminar/" + id,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/cliente";
                            });
                		}
					})
				}					
			});
		}	
	</script>

</body>
</html>