<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Editar Categoria</title>
<th:block th:insert="fragments/resources"></th:block>

</head>
<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Editar Categoria</h4>
				<form th:action="@{/categoria/crear}" th:method="post"
					th:object="${categoria}">

					<input type="hidden" th:field="*{idcategoria}">
					<div class="form-row">

						<div class="col-md-6">
							<div class="form-group">
								<label for="inputDescrip">DESCRIPCION:</label> <input
									type="text" th:field="*{descripcion}" class="form-control"
									placeholder="Descripcion" maxlength="45"> <i
									class="form-group__bar"></i>
							</div>
						</div>

						<div class="col-md-6">
							<div class="form-group">
								<label for="inputDescrip">ESTADO:</label> <input type="text"
									th:field="*{estado}" class="form-control" placeholder="Estado"
									maxlength="45"> <i class="form-group__bar"></i>
							</div>
						</div>

					</div>

					<div class="form-row">
						<div class="col-md-12">
							<div class="form-group">
								<button type="submit" class="btn btn-primary">Actualizar</button>
								<a href="/categoria" class="btn btn-danger">Cancelar</a>
							</div>
						</div>
					</div>


				</form>

			</div>

		</div>
	</section>

</body>
</html>