<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de Categorias</title>
<th:block th:insert="fragments/resources"></th:block>
</head>

<body data-ma-theme="blue">
	<th:block th:insert="fragments/header"></th:block>
	<th:block th:insert="fragments/menu"></th:block>
	<section class="content">

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Categorias</h4>
				<div class="form-row">
					<div class="col-m-6">
						<div class="form-group">
							<a href="/categoria/nuevo" class="btn btn-primary">Nueva
								Categoria</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Lista de Categorias</h4>
				<div class="table-responsive">
					<table id="idTableCategoria" class="table table-bordered">
						<thead>
							<tr>
								<th>ID</th>
								<th>DESCRIPCION</th>
								<th>ESTADO</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="categoria : ${listarCategoria}">
								<tr>
									<td th:text="${categoria.idcategoria}"></td>
									<td th:text="${categoria.descripcion}"></td>
									<td th:text="${categoria.estado}"></td>
									<td><a class="btn btn-primary"
										th:href="@{/categoria/editar/{id}(id=${categoria.idcategoria})}"> <i
											class="zmdi zmdi-edit zmdi-hc-fw"></i>
									</a> <a class="btn btn-danger" href="#"
										th:onclick="'eliminarCategoria(' + ${categoria.idcategoria} +')'"> <i
											class="zmdi zmdi-delete zmdi-hc-fw"></i>
									</a></td>
								</tr>
							</th:block>
						</tbody>
					</table>
					<div class="table-responsive"></div>
				</div>
			</div>
		</div>
	</section>
	
	<script type="text/javascript">
		$(document).ready(function() {
			$("#idTableCategoria").DataTable();
		});		
		
		function eliminarCategoria(id){
			swal({
                title: '¿Estas seguro?',
                text: 'No podrás recuperar este archivo imaginario!',
                type: 'warning',
                showCancelButton: true,
                buttonsStyling: false,
                confirmButtonClass: 'btn btn-danger',
                confirmButtonText: 'Eliminar',
                cancelButtonClass: 'btn btn-secondary',
                cancelButtonText: 'Cancelar',
            }).then(function(result){				
				if(result.value){					
					$.ajax({
						url: "/categoria/eliminar/" + id,
						type: "GET",
						success: function(){
                			swal("Ok", "Se ha eliminado", "success").then(function(){
                				window.location = "/categoria";
                            });
                		}
					})
				}					
			});
		}	
	</script>

</body>
</html>