<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header class="header" style="background-color: darkslategray;">

	<div class="navigation-trigger hidden-xl-up"
		data-ma-action="aside-open" data-ma-target=".sidebar">
		<div class="navigation-trigger__inner">
			<i class="navigation-trigger__line"></i> <i
				class="navigation-trigger__line"></i> <i
				class="navigation-trigger__line"></i>
		</div>
	</div>

	<div class="header__logo hidden-sm-down">
		<h3 style="color: #ffff">COMPUTEC</h3>
	</div>


</header>
</html>